/* 设置字体 */
body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  color: #ff4500; /* 橙红色 */
  overflow: hidden;
}

/* 背景视频样式 */
#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* 音乐隐藏播放条 */
audio {
  display: none;
}

/* 内容区域样式 */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-size: 28px;
  color: #ff4500;
}

p {
  font-size: 14px;
  color: #ff4500;
}
